.mi{
    width: 100%;
    height: 600px;
    background: url('../assets/building-new-concrete-houses.jpg');
    background-size: cover;

    .cover{
        // background-color: rgb(240, 144, 0,.6);
        background-color:rgb(33, 33, 33,.7);
        width: 100%;
        height: 100%;

        margin: 15px 0;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 7px;
        align-items: center;

        .middle-card{
            background-color: none;
            height: 100px;
            text-align: center;
            color: white;
            h3{
                font-size: 30px;
                margin: 4px;
            }
            span{
                font-size: 20px;
                margin: 3px;
            }
            p{
                font-size: 12px;
                margin: 4px;
                color: rgb(240, 144, 0);
            }
        }

    }
}


.shot-cover-container{
    width: 100%;
    height:500px;
    background: url('../assets/african.jpg');
    background-size: cover;
    // background-position: ;
    .shot-cover{
        width: 100%;
        height: 100%;
        background-color:rgb(33, 33, 33,.8);
        text-align: center;
        h4{
            margin: 0;
            font-size: 30px;
            color: white;
            padding-top: 180px;
        }
        p{
            color: white;
            font-size: 20px;
            padding: 2px 15px;
        }
    }
}

.cover-container{
    width: 100%;
    height:600px;
    background: url('../assets/logistics.jpg');
    background-size: cover;

       // background-position: ;
       .cov{
        width: 100%;
        height: 100%;
        background-color:rgb(33, 33, 33,.8);
        text-align: center;
        h4{
            margin: 0;
            font-size: 40px;
            color: white;
            padding-top: 240px;
        }
        p{
            color: white;
            font-size: 20px;
            padding: 2px 20px;
        }
    }
}

//responsive
@media screen and (max-width:600px) {
    .mi{
       height: auto;

        .cover{
            height: auto;
            background-color:rgb(33, 33, 33,.8);
            margin: 10px 0;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 4px;

            .middle-card{
                background-color: none;
                height: 150px;
                h3{
                    font-size: 20px;
                    margin: 4px;
                }
                span{
                    font-size: 16px;
                    margin: 3px;
                }
                p{
                    font-size: 12px;
                    margin: 4px;
                    color: rgb(240, 144, 0);
                }
            }
        }
    }

    //shot cover
    .shot-cover-container{
        height:430px;
        .shot-cover{
            background-color:rgb(33, 33, 33,.8);
            text-align: center;
            h4{
                margin: 0;
                font-size: 22px;
            }
            p{
                font-size: 15px;
                padding: 2px 15px;
            }
        }
    
    }

    .cover-container{
        width: 100%;
        height:500px;
        background: url('../assets/logistics.jpg');
        background-size: cover;
    
           // background-position: ;
           .cov{
            width: 100%;
            height: 100%;
            background-color:rgb(33, 33, 33,.8);
            text-align: center;
            h4{
                margin: 0;
                font-size: 25px;
                padding-top: 200px;
            }
            p{
                color: white;
                font-size: 16px;
                padding: 2px 20px;
            }
        }
    }
}